/*-------------------------------------------------------
  Fonts
-------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

/*-------------------------------------------------------
  Variables
-------------------------------------------------------*/

:root {
  --orange: #ff8a11;
  --red: #fe4200;
  --light-grey: #e8e8e8;
  --mid-grey: #6b6867;
  --dark-grey: #2c2827;
  --white: #ffffff;
  --black: #000000;
}

/*-------------------------------------------------------
  WYSIWYG
-------------------------------------------------------*/

#tinymce * {
  font-family: "Urbanist", sans-serif;
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 1.5;
}

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6,
#tinymce ul,
#tinymce ol,
#tinymce li,
#tinymce p,
#tinymce a {
  margin: 15px 0;
  color: var(--black);
  letter-spacing: 0;
}

#tinymce h1,
#tinymce h1 *,
#tinymce h2,
#tinymce h2 *,
#tinymce h3,
#tinymce h3 *,
#tinymce h4,
#tinymce h4 *,
#tinymce h5,
#tinymce h5 *,
#tinymce h6,
#tinymce h6 * {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}

#tinymce strong {
  font-weight: 700;
}

#tinymce p,
#tinymce li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

#tinymce ul,
#tinymce ol,
#tinymce li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tinymce h1,
#tinymce h1 * {
  font-size: 60px;
}

#tinymce h2,
#tinymce h2 * {
  font-size: 46px;
}

#tinymce h3,
#tinymce h3 * {
  font-size: 38px;
}

#tinymce h4,
#tinymce h4 * {
  font-size: 25px;
}

#tinymce h5,
#tinymce h5 * {
  font-size: 20px;
  font-weight: 400;
}

#tinymce h6,
#tinymce h6 * {
  font-size: 16px;
  font-weight: 400;
}

#tinymce a:hover {
  color: var(--orange);
}

#tinymce ol {
  list-style-position: outside;
}

#tinymce li {
  position: relative;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

#tinymce li:last-child {
  margin: 0;
}

#tinymce li:last-child {
  margin: 0;
}

#tinymce ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 14px;
  height: 14px;
  background: url("../img/icon-arrow-sm.svg") 50% no-repeat;
  background-size: contain;
}

#tinymce ol {
  counter-reset: item;
}

#tinymce ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
}

#tinymce blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0 10px 40px;
  border-left: 2px solid var(--orange);
}
